<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <head>
        <title> PTE Exam </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all">
        <script src="javascripts/lib/jquery-1.11.0.min.js"></script>
        <script src="javascripts/lib/jquery.tmpl.js"></script>
        <script src="javascripts/common.js"></script>
<script>

// !!! IMPORTANT MUST UPDATE FILES into images directory !!!

const INVALID = -1;
const WAITING = 25;
const RUNNING = 40;
const PROGRESS_BEGIN = 0;
const PROGRESS_ALL = 100;
const SEC = 1000;

const TEXT_START = "시작";
const TEXT_STOP = "일시중지";
const TEXT_RESUME = "계속";
const TEXT_NEXT = "다음";

const STATE_IDLE = 0;
const STATE_RUNNING = 1;
const STATE_PAUSED = 2;

var images = [];
var currentTest = INVALID;
var waiting = WAITING;
var running = INVALID;
var defaultTimer = "";

function initImages() {
    console.log('initImages');

    $.ajax({
        url: "initImages",
        type: "post",
        dataType: "json",
        success: function(res) {
            images = JSON.parse(res);
            console.log("response initImages = " + images);

            init(INVALID);
        }
    });
}

function init(c) {
    initCurrent(c);
    initWait(WAITING);
    initRun(INVALID);
    mySetTimeout("", 0);

    if (c == INVALID) {
        updateButton('start', TEXT_START);
    }
    updateId(c);
    updateImage(c);
}

function initCurrent(value) {
    currentTest = value;
}

function initWait(value) {
    waiting = value
}

function initRun(value) {
    running = value;
}

function moveNext(next) {
    if (next >= images.length) {
        alert("모든 테스트가 종료되었습니다.");
        init(INVALID);
        return;
    }

    initCurrent(next);
    initWait(WAITING);
    initRun(INVALID);
    mySetTimeout("", 0);

    updateButton('start', TEXT_STOP);
    updateId(next);
    updateImage(next);
}

function getState() {
    var cmd = getValue('start');
    var s = STATE_IDLE;
    if (cmd == TEXT_START) {
        s = STATE_IDLE;
    } else if (cmd == TEXT_STOP) {
        s = STATE_RUNNING;
    } else if (cmd == TEXT_RESUME) {
        s = STATE_PAUSED;
    } 
    console.log('getState ' + s);
    return s;
}

function updateImage(value) {
    var image = document.getElementById('image');
    if (isEmpty(image)) {
        return;
    }

    var res = images[value];
    if (isEmpty(res)) {
        image.src = res;
        return;
    }
    
    image.src = res.substr(7);

    if (image.complete) {
        onImgLoaded();
    } else {
        image.addEventListener('load', onImgLoaded);
        image.addEventListener('error', onImgError);
    }
}

function updateId(value) {
    var msg = String.format("총 {0}개 중 {1}번째 테스트 입니다.",
            images.length, (value+1));
    document.getElementById('testId').innerHTML = msg;
}

function updateView(id, value) {
    document.getElementById(id).innerHTML = value;
}

function updateButton(id, value) {
    document.getElementById(id).value = value;
}

function updateProgress(value) {
    document.getElementById('bar').style.width = value + '%';
}

function getValue(id) {
    return document.getElementById(id).value;
}

function handleWait() {
    if (waiting > 1) {
        initWait(waiting - 1);
        updateView('information', "시작까지 " + waiting + "초 남았습니다.");
        mySetTimeout(runTest, SEC);
        return true;
    }

    return false;
}

function handleRun() {
    if (running >= RUNNING) {
        updateProgress(PROGRESS_ALL);
        return false;
    }

    initRun(running + 1);
    if (running == 0) {
        playSound();
        return true;
    }

    updateView('information', running + "초 진행 중 입니다.");
    var progress = running * (PROGRESS_ALL / RUNNING);
    updateProgress(progress)
    mySetTimeout(runTest, SEC);
    return true;
}

function runTest() {
    if (handleWait()) {
        return;
    }

    if (handleRun()) {
        return;
    }

    initWait(WAITING);
    initRun(0);
}

function isEmpty(value) {
    if (value == "" || value == null || value == undefined) {
       return true;
    }
    return false;
}

function isValid(value) { 
    if (value >= 0 && value < images.length) {
        return true;
    }
    return false;
}

function testStart() {
    var cmd = getValue('start');
    if (cmd == TEXT_START) {
        var c = getValue('current');
        if (isEmpty(c) || !isValid(c)) {
            alert('유효한값을 입력하세요');
            return;
        }

        moveNext(Number(c));
    } else if (cmd == TEXT_STOP) {
        init(currentTest);
        updateButton('start', TEXT_RESUME);
    } else if (cmd == TEXT_RESUME) {
        moveNext(currentTest);
    }
}

function testNext() {
    moveNext(currentTest+1);
}

function testReset() {
    init(INVALID);
}

function playSound() {
    var sound = document.getElementById("audio");
    sound.addEventListener('play', onPlay);
    sound.addEventListener('ended', onPlayEnded);
    sound.play();
}

function onPlay() {
    console.log("onPlay");
    updateView('information', running + "초 진행 중 입니다.");
    var progress = running * (PROGRESS_ALL / RUNNING);
    updateProgress(progress)
    mySetTimeout(runTest, SEC);
}

function onPlayEnded() {
    console.log("onPlayEnded");
}

function onImgLoaded() {
    console.log("onImgLoaded");
    nextProcess(currentTest);
}

function onImgError() {
    console.log("onImgError");
    nextProcess(INVALID);
}

function mySetTimeout(func, timeout) {
    if (!isEmpty(defaultTimer)) {
        clearTimeout(defaultTimer);
    }

    if (!isEmpty(func)) {
        defaultTimer = setTimeout(func, timeout);
    }
}

function nextProcess(test) {
    if (test != INVALID) {
        updateProgress(PROGRESS_BEGIN);
        updateView('information', '시작까지 ' + waiting + '초 남았습니다.');
        if (getState() == STATE_RUNNING) {
            mySetTimeout(runTest, SEC);
        } else {
            mySetTimeout("", 0);
        }
    } else {
        updateProgress(0);
        updateView('information', '시작까지 ' + waiting + '초 남았습니다.');
        mySetTimeout("", 0);
    }
}

</script>
    </head>

    <body onload="initImages()">
        <div id="left">
            <form name="image_form">
                <img id="image" src="" />
            </form>
        </div>

        <div id="right">
            <form id="form_exam">
                <p><label class="description" id="testId"></label>
                <p><label class="description" id="information"></label>

                <div id="progress">
                    <div id="bar"></div>
                </div>

                <p><input type="text" id="current" value="0">
                <p><input type="button" id="start" value="시작" onclick="testStart()">
                <p><input type="button" id="next" value="다음" onclick="testNext()">
                <p><input type="button" id="reset" value="초기화" onclick="testReset()">

                <p><audio id="audio" src="./audios/beep.wav" autostart="false" ></audio>
        </form>
        </div>
    </body>
</html>
